html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	background-color: #f5f5f9;
	height: 50%;
}

/* .car_mpecotTBottom>.carui-order-detail-text-box>.car_mpecotTL {
	font-family: .SFNSDisplay;
	font-size: 0.28rem;
	color: #999;
}

.car_mpecotTBottom>.carui-order-detail-text-box>.car_mpecotTR {
	font-family: .SFNSDisplay;
	font-size: 0.28rem;
	color: #333333 !important;
} */

.car_mpecotTBottom>.carui-order-detail-text-box:first-child {
	margin-top: 0.44rem;
}

.car_mpecotTBottom>.carui-order-detail-text-box {
	margin-top: 0.42rem;
}

/* .car_content {} */
/* .car_content */

.car_mpecot {
	margin: 0;
	padding: 0;
	height: auto;
	overflow: hidden;
	clear: both;
}

.car_mpecot ul {
	margin: 0;
	padding: 0;
}

.car_mpecot .mui-table-view {
	background: none;
}

.car_mpecot ul li {
	margin: 0;
	padding-right: 0px !important;
	padding: 0 0 0 0;
	background: #fff;
	height: auto;
	overflow: hidden;
    font-size: initial;
}

.car_mpecot ul li .car_mpecotT {
	margin: 0 0 0 15px;
	padding: 12px 0;
	height: auto;
	overflow: hidden;
	clear: both;
}

.car_mpecot ul li .car_mpecotTBottom {
	margin: 0 0.36rem;
	padding-bottom: 0.3rem;
	height: auto;
	overflow: hidden;
	clear: both;
	border-top: solid 1px #DDDDDD;
}

.car_mpecot ul li .car_mpecotT .car_mpecotTL {
	float: left;
	color: #000000;
	font-size: 15px;
}

.car_mpecot ul li .car_mpecotTBottom .car_mpecotTL {
	float: left;
	font-size: 15px;
	color: #888888;
}

.car_mpecot ul li .car_mpecotT .car_mpecotTR.car_stop_detail_TRColor {
	color: #888888;
	font-size: 15px;
}

.car_mpecot ul li .car_mpecotT .car_mpecotTR {
	float: right;
	color: #f39826;
	font-size: 17px;
	margin-right: 15px;
}

.car_mpecot ul li .car_mpecotTBottom .car_mpecotTR {
	float: right;
	color: #000000;
	font-size: 15px;
}

.car_mred {
	color: #333333;
}

.car_mgray6 {
	font-size: 12px;
	color: #666;
	border: 1px solid #3a3a3a;
	border-radius: 3px;
	padding: 0px 3px;
	float: right;
	line-height: 16px;
}

.car_mpecot ul li .car_mpecotkf {
	font-size: 17px;
	margin: 0px 15px;
	height: auto;
	clear: both;
}

.car_mpecot ul li .car_mpecotkf .car_mpecotsp {
	margin-right: 5px;
	line-height: 1;
	margin-top: 15px;
	float: left;
	font-size: 14px;
	color: #888888;
}

.car_mpecot ul li .car_mpecotkf .car_mpecotspR {
	margin-right: 5px;
	margin-left: 15px;
	line-height: 1;
	margin-top: 15px;
	float: left;
	font-size: 14px;
	color: #888888;
}

.car_mpecot ul li .car_mpecotkf .car_mpecotspRText {
	margin-right: 5px;
	margin-left: 15px;
	line-height: 1;
	margin-top: 15px;
	float: left;
	font-size: 14px;
	width: 70%;
	color: #888888;
}

.carui-order-detail-text-box {
	overflow: hidden;
	/*padding: 10px 0px;*/
}

.car-mui-collapse-top {
	padding-top: 0px !important;
}

.car_mpecot ul li .car_mpecotkf .car_mpecotR {
	width: 60px;
	float: right;
	margin-top: 15px;
	color: #888888;
	text-align: right;
	font-size: 14px;
	line-height: 1;
}

.car_mpecot ul li .car_mpecotTit {
	height: auto;
	margin: 15px 15px 0;
	color: #999;
	font-size: 12px;
}

.car_mpecot ul li .car_mpecotInfo {
	font-size: 14px;
	color: #333;
	margin: 15px 15px 0;
	line-height: 20px;
}

.carui-order-detail-top-money {
	text-align: center;
	margin-top: 0.4rem;
	font-size: 0.64rem;
	line-height: 0.64rem;
	height: 0.64rem;
}

.carui-order-detail-top-money span {
	font-size: 0.26rem;
	color: #333;
	margin-left: 0.08rem;
}

.carui-order-detail-top-box {
	width: 70%;
	text-align: center;
	margin-left: 15%;
	font-size: 0.26rem;
	line-height: 1;
    margin-top: 0.58rem;
	color: #333;
}



.carui-order-detail-top-deal-status {
	text-align: center;
	font-size: 0.32rem;
	color: #000000;
	margin-top: 0.3rem;
	line-height: 0.32rem;
	margin-bottom: 0.6rem;
}

.confirmBtn {
	width: 6.86rem;
    height: 0.94rem;
    background: #108EE9;
    border-radius: 4px;
    color: #FFF;
    border: 0;
    margin-left: 0.32rem;
    font-size: 0.36rem;
    font-family: PingFangSC-Regular;
}

.confirmBtn.unable {
	color: #BBBBBB;
	background-color: #dddddd;
}

.carui-order-detail-button-box {
	height: 0.94rem;
	line-height: 0.94rem;
	margin-top: 0;
	display: grid;
}

.carui-order-detail-tips-box {
	font-size: 0.24rem;
	margin: 0.4rem 0.36rem 0.45rem 0.36rem;
	color: #999;
	line-height: 0.32rem;
	height: 0.32rem;
}

.carui-order-detail-tips-box img {
	height: 0.32rem;
	vertical-align: top;
}

.carui-order-detail-tips-box span {
	margin-left: 0.16rem;
	display: inline-block;
	line-height: 0.32rem;
	height: 0.32rem;
}